.table1 {
    border: 1px solid black;
    border-collapse:collapse;
    margin-bottom: 10px;
}
.td1 {
    font-weight: bold;
    border:1px solid black;
    text-align: center;
}
.th1 {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding-left: 15 px;
    padding-right: 15px;
}